<%= form_tag(meal_plans_path, method: "post", class: "meal-planner", id: "meal-plan-form") do %>
  <div class="plan-your-day">
    Plan your day here
  </div>
  <%= text_field_tag(:meal_plan_name, nil, placeholder:"Name your meal plan!", class: "input-meal-plan-name") %>
  <div class="meal-selections">
  </div>
  <%= button_tag class: "go-btn" do %>
    Done
    <!-- <i class="fas fa-check"></i> -->
  <% end %>
<% end %>
