<form class="meal-plan">
  <input type="text">
  <% if meals.nil? %>
    <%= "Add meals by clicking on them!" %>
  <% else %>
    <% meals.each do |meal| %>
      <input type="hidden" value="<%= meal.name %>">
    <% end %>
  <% end %>
</form>
