<div class="meal-plan-show">
  <div class="name-meal-plan-show">
    <%= @meal_plan.name %>
  </div>
  <% @meal_plan.meals.each do |meal| %>
    <div class="meal-card-meal-plan-show">
      <%= cl_image_tag(meal.photo, width: 500, class: "avatar-medium") %>
      <div class="name-meal-meal-plan-show">
        <%= meal.name %>
      </div>
    </div>
  <% end %>
</div>
