<div class="banner" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 50%), url('https://s3.amazonaws.com/nutri-photos/photo-1524222717473-730000096953+(1).jpg');">
  <div>
    <h1 class="nutri">nutri</h1>
    <div class="banner-content-taglines">
      <p>You are what you eat</p>
      <p>Get recommendations from experts</p>
      <p>Plan your meals with nutri</p>
    </div>
  </div>
</div>

<div class="container">
  <%= form_tag nutritionists_path, method: :get, remote: true do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for nutritionists..."
    %>
  <% end %>
  <div class="row" id="js-nutritionists">
    <%= render "nutritionist_faces", nutritionists: @nutritionists %>
  </div>
</div>
