// Import Google fonts

// Define fonts for body and headers
$light-font: "interUI-light";
$medium-font: "interUI-medium";
$bold-font: "interUI-bold";
// $thicc-font: "interUI-thicc";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "interUI-light";
  // src: font-url('Inter-UI-Regular.eot');
  // src: font-url('Inter-UI-Regular.eot?#iefix') format('embedded-opentype'),
       src: asset-url('Inter-UI-Regular.woff') format('woff')
       // font-url('Inter-UI-Regular.ttf') format('truetype')
}

@font-face {
  font-family: "interUI-medium";
  // src: font-url('Inter-UI-Medium.eot');
  // src: font-url('Inter-UI-Medium.eot?#iefix') format('embedded-opentype'),
       src: asset-url('Inter-UI-Medium.woff') format('woff')
       // font-url('Inter-UI-Medium.ttf') format('truetype')
}

@font-face {
  font-family: "interUI-bold";
  // src: font-url('Inter-UI-Bold.eot');
  // src: font-url('Inter-UI-Bold.eot?#iefix') format('embedded-opentype'),
       src: asset-url('Inter-UI-Bold.woff') format('woff')
       // font-url('Inter-UI-Bold.ttf') format('truetype')
}

// @font-face {
//   font-family: "interUI-thicc";
//   src: font-url('Inter-UI-Black.eot');
//   src: font-url('Inter-UI-Black.eot?#iefix') format('embedded-opentype'),
//        font-url('Inter-UI-Black.woff') format('woff'),
//        font-url('Inter-UI-Black.ttf') format('truetype')
// }
