.description {
  box-sizing: border-box;
  display: block;
  // line-height: 20px;
  position: relative offset body;
  // z-index: auto;
}

.bio {
  color: #9B9B9B;
  font-family: $light-font;
  text-align:center;
}

.full-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.avatar-circle {
  border-radius: 50%;
}

.avatar-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
    padding: 100px;
}
