.avatar-small {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.avatar-large {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.avatar-medium {
  height: 70px;
  width: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
