.meal-card {
  height: 265px;
  border-radius: 5px;
  background-color: white;
  transition: all 0.2s ease;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.meal-card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
.meal-card-bottom {
  padding: 10px;
}

.meal-card-name {
  text-align: left;
}

.meal-card-photo {
  width: 100%;
  border-radius: 5px;
}

.meal-card-bottom-text {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.meal-name {
  font-size: 14px
}

.meal-card-calories {
  font-size: 12px;
  min-width: 60px;
  text-align: right;
}

.meal-type {
  font-family: $light-font;
  font-size: 12px;
  text-align: left;
}

.breakfast {
  color: #8DC088;
}

.lunch {
  color: #517CE8;
}

.dinner {
  color: #D75656;
}

.snack {
  color: #F5A444
}

.mask {
  height: 154px;
  background-size: cover;
  background-position-y: 75%;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
