.meal-card {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 265px;
  border-radius: 5px;
  background-color: white;
  transition: all 0.2s ease;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.meal-card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.meal-card-name {
  color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  flex: 1;
}

.meal-card-photo {
  width: 100%;
  border-radius: 5px;
}

.meal-card-labels {
  color: rgba(0,0,0,0.6);
  padding: 26px 0 0 0;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.meal-name {
  font-size: 14px;
}

.meal-card-calories {
  display: flex;
  align-items: center;
  p{
    margin: 0;
    padding-left: 7px;
  }
}

.meal-type {
  padding: 0 20px;
  position: absolute;
  bottom: -10px;
  right: 30px;
  color: white;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: $light-font;
  text-align: left;
}

.breakfast {
  background-color: #8DC088;
}

.lunch {
  background-color: #517CE8;
}

.dinner {
  background-color: #D75656;
}

.snack {
  background-color: #F5A444
}

.mask {
  position: relative;
  height: 154px;
  background-size: cover;
  background-position-y: 75%;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.inline-icons {
  display: flex;
  align-items: center;

}
