.meal-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 39px 0;
}

.meal-plan-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

.meal-plan-name {
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
  color: rgba(0,0,0,0.7)
}

.frame {
  padding: 25px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
  }
}

#close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.meal-plan:hover {
  box-shadow: 25px rgba(0, 0, 0, 0.1);
  // transform: scale(1.01);
}

.btn {
  margin-bottom: 5%;
}

.selected {
  border: 2px solid green;
}

.no-grow {
  pointer-events: none;
}
